* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #e3f2fd;
  font-size: 40px;
}

html {
  height: 100%;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #393D3F;
}

@media screen and (width <= 1870) {
  .content {
    flex-direction: column;
  }
}